@-webkit-keyframes animaleftdelay {
    0% {
        -webkit-transform: rotate(0) translateX(-150px);
        transform: rotate(0) translateX(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaleftdelay {
    -webkit-animation: animaleftdelay 1.5s forwards 1.5s ease;
    animation: animaleftdelay 1.5s forwards 1.5s ease;
}

@keyframes animaleft {
    0% {
        -webkit-transform: rotate(0) translateX(-150px);
        transform: rotate(0) translateX(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaleft {
    -webkit-animation: animaleft 1.5s forwards 0s ease;
    animation: animaleft 1.5s forwards 0s ease;
}

@-webkit-keyframes animatop {
    0% {
        -webkit-transform: rotate(0) translateY(-150px);
        transform: rotate(0) translateY(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animatop {
    0% {
        -webkit-transform: rotate(0) translateY(-150px);
        transform: rotate(0) translateY(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animatop {
    -webkit-animation: animatop 1.5s forwards 0s ease;
    animation: animatop 1.5s forwards 0s ease;
}

@-webkit-keyframes animaright {
    0% {
        -webkit-transform: rotate(0) translateX(150px);
        transform: rotate(0) translateX(150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animaright {
    0% {
        -webkit-transform: rotate(0) translateX(150px);
        transform: rotate(0) translateX(150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaright {
    -webkit-animation: animaright 1.5s forwards 0s ease;
    animation: animaright 1.5s forwards 0s ease;
}

@keyframes animarightdelay {
    0% {
        -webkit-transform: rotate(0) translateX(150px);
        transform: rotate(0) translateX(150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animarightdelay {
    -webkit-animation: animarightdelay 1.5s forwards 1s ease;
    animation: animarightdelay 1.5s forwards 1s ease;
}

@-webkit-keyframes animaimg {
    0% {
        -webkit-transform: rotate(0) scale(0.3);
        transform: rotate(0) scale(0.3);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animaimg {
    0% {
        -webkit-transform: rotate(0) scale(0.3);
        transform: rotate(0) scale(0.3);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaimg {
    -webkit-animation: animaimg 1.5s forwards 0s ease;
    animation: animaimg 1.5s forwards 0s ease;
}

#one .col-lg-5 {
    opacity: 0;
}

#contact .container,
#contact #partner {
    opacity: 0;
}

.banner .col-md-6 {
    opacity: 0;
}


/* #partner {
    opacity: 0;
} */


/*# sourceMappingURL=animation.css.map */