@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

h2 {
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
    font-size: 3rem;
    text-transform: uppercase;
    @include small-device {
        font-size: 1.7rem;
        margin-bottom: 60px;
    }
}
h3 {
    margin-bottom: 30px;
    @include small-device {
        margin-bottom: 15px;
    }
}
hr {
    opacity: 1;
}
body {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    @media (max-width: 767px) {
        font-size: 16px;
    }
    * {
        box-sizing: border-box;
    }
    a,
    a:hover {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    a:focus {
        -webkit-tap-highlight-color: transparent !important;
        outline: none !important;
    }
}

.navbar {
    .navbar-nav {
        font-size: smaller;
        font-family: "Play";
        padding: 2px 0;
        a {
            color: rgba(0, 0, 0, 0.708);
            padding: 0 !important;
            margin: 0 6px !important;
            border-bottom: 2px solid transparent;
            border-top: 2px solid transparent;
            text-transform: uppercase;
            @include small-device {
                margin: 6px 0 !important;
            }
            &:hover {
                color: rgb(0, 0, 0);
                border-bottom: 2px solid rgb(0, 0, 0);
            }
        }
        a.nav-link.active {
            border-bottom: 2px solid black;
            @include small-device {
                border: 2px solid black;
            }
        }
    }
    .navbar-collapse {
        flex-grow: 0;
    }
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0 5px 9px 0px;
    .nav-holder {
        padding: 0;
        height: 100%;
    }
    #navbar-servis {
        @media (max-width: 992px) {
            z-index: -1;
            position: absolute;
            top: 0;
            padding: 50px 20px 20px;
            background-color: white;
            width: 50%;
            right: 0;
            text-align: center;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        a {
            padding: 0;
            margin: 0;
            img {
                height: 51px;
                @include small-device {
                    height: 41px;
                }
            }
        }
    }
    button {
        @media (min-width: 993px) {
            display: none !important;
        }
        span {
            height: 2px;
            width: 20px;
            margin: 5px 0;
            background-color: black;
            display: block;
        }
    }
    .open {
        color: rgb(46, 139, 87);
        text-shadow:
            0 0 4px rgba(56, 171, 106, 0.527),
            0 0 8px rgba(85, 214, 141, 0.362);
    }
    .closed {
        color: rgb(139, 46, 46);
        text-shadow:
            0 0 4px rgba(255, 0, 0, 0.527),
            0 0 8px rgba(255, 0, 0, 0.362);
    }
    .r-vreme {
        margin-left: 10px;
        font-size: 0.9rem;
        font-weight: bold;
    }
    #telephone {
        @include small-device {
            span {
                display: none !important;
            }
        }
    }
    .my-toggler {
        background-color: #ffffff;
        border: 0;
        margin: 4px 6px 4px 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 4px 10px;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        text-align: center;
        text-decoration: none #d1d5db solid;
        text-decoration-thickness: auto;
        box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        &:hover {
            background-color: rgb(249, 250, 251);
        }

        &:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
        }

        &:focus-visible {
            box-shadow: none;
        }
    }
}

.hero-h {
    height: 80vh;
    width: 100%;
    @include medium-device {
        height: 70vh;
    }
    @include small-device {
        height: 65vh;
    }
    .back-h {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2px;
        height: 100%;
        .l {
            background-size: cover !important;
            background-position: center;
            background-image: url(../img/lap17.jpg);
        }
        .s {
            background-size: cover !important;
            background-position: center;
            background-image: url(../img/desk5.jpg);
        }
        .d {
            background-size: cover !important;
            background-position: center left;
            background-image: url(../img/lap19.jpg);
        }
    }
    .title-h {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        color: white;
        height: 80vh;
        width: 100%;
        @include medium-device {
            height: 70vh;
        }
        @include small-device {
            height: 65vh;
        }
        h1 {
            span {
                display: block;
                font-weight: bold;
                font-size: 5.2rem;
                font-family: "Segoe UI";
                @include small-device {
                    font-size: 2.2rem;
                }
            }
            font-family: "Playb";
            margin-top: 30vh;
            text-align: center;
            font-size: 2rem;
            text-shadow: 0px 0px 22px #9f9f9f82;
            @include small-device {
                font-size: 1.4rem;
            }
        }
    }
}

#about {
    @include small-device {
        padding: 20px 0;
    }
    p {
        text-align: justify;
    }
    img {
        border-radius: 4px;
        width: 80%;
        margin: auto;
        height: auto;
        @include medium-device {
            position: absolute;
            top: 30%;
            width: 100%;
            display: none;
        }
    }
    .about-holder {
        position: relative;
        color: white;
        border-radius: 8px;
        width: 100%;
        padding: 130px 0;
        @include small-device {
            padding: 90px 0;
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 10%;
            width: 80%;
            height: 100%;
            background-image: url(../img/part5.jpg);
            border-radius: 8px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            z-index: -1;
            @include small-device {
                width: 100%;
                left: 0;
            }
        }
        .about-up {
            position: relative;
            border-radius: 17px 0 0 17px;
            background-color: rgba(0, 0, 0, 0.87);
            background-blend-mode: color;
            border: 13px solid white;
            padding: 35px;
            margin-bottom: 150px;
            @include small-device {
                border: none;
                padding: 10px;
            }
        }
        .about-down {
            position: relative;
            right: 0;
            bottom: 11%;
            border-radius: 0 17px 17px 0;
            background-color: rgba(0, 0, 0, 0.87);
            background-blend-mode: color;
            border: 13px solid white;
            padding: 35px;
            @include small-device {
                border: none;
                padding: 10px;
            }
        }
    }
}
.main-serv {
    margin-top: 200px;
    @include small-device {
        margin-top: 100px;
    }

    .serv-card {
        height: 100%;
        min-height: 200px;
        text-align: center;
        font-family: "Play";
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        background-size: cover !important;
        background-position: left center;
        background-color: rgb(255 255 255 / 89%);
        background-blend-mode: color;
        box-shadow:
            rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
            rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
            rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
            rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
            rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
            rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
            rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
        h3 {
            margin: auto;
            width: fit-content;
            font-size: 1.4rem;
            padding: 0 20px;
            @include small-device {
            }
        }
        i {
            margin: 20px 0;
            font-size: 3rem;
        }
        a {
            font-size: 1rem;
            // background: #373838;
            // background-image: radial-gradient(100% 100% at 100% 0, #b2c4c9 0, #373838 100%);
            background-image: linear-gradient(rgba(196, 195, 196, 0.84), rgba(21, 18, 25, 0.84) 100%);
            // box-shadow:
            //     rgba(45, 35, 66, 0.4) 0 2px 4px,
            //     rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            //     rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
            box-shadow:
                rgba(57, 31, 91, 0.24) 0 2px 2px,
                rgba(179, 132, 201, 0.4) 0 8px 12px;
            margin: 10px 0;
            padding: 3px 15px;
            color: white;
            border-radius: 15px;
            width: fit-content;
            &:hover {
                background-image: linear-gradient(rgba(225, 223, 225, 0.84), rgba(47, 41, 54, 0.84) 100%);
                // color: black;
            }
        }
    }
    .desktop-card {
        background-image: url(../img/desk6.jpg);
    }
    .laptop-card {
        background-image: url(../img/lap8.jpg);
    }

    #partner {
        font-size: 2rem;
        margin: 100px 0;
        justify-content: center;
        @include small-device {
            font-size: 1rem;
            margin: 50px 0;
        }
        a {
            width: fit-content;
            align-items: center;
            display: flex;
            &:hover {
                color: red;
            }
        }
        span {
            width: fit-content;
            align-items: center;
            display: flex;
        }
        img {
            margin: 0 10px;
        }
    }
}
.recovery {
    background-image: url(../img/lap20.jpg);
}
.remote {
    background-image: url(../img/rukovanje.jpg);
}
.inst-os {
    background-image: url(../img/windows02.jpg);
}
.opti-os {
    background-image: url(../img/optimizacija.jpg);
}
.sos {
    background-image: url(../img/intervencije.jpg);
}
.web {
    background-image: url(../img/codewomen.jpg);
}
.virus {
    background-image: url(../img/virusnovi.jpg);
}
.network {
    background-image: url(../img/network2.jpg);
}
#services {
    margin-top: 200px;
    @include small-device {
        margin-top: 100px;
    }
    p {
        text-align: justify;
        margin-bottom: 0;
    }
    .serv-lists {
        color: white;
        position: relative;
        width: 100%;
        padding: 90px 0;
        @include small-device {
            padding: 60px 0;
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            background-image: url(../img/desk2.jpg);
            border-radius: 8px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom left;
            z-index: 0;
            @include small-device {
                width: 100%;
            }
        }
        .lists-h {
            z-index: 1;
            margin: 50px 0;
            padding: 50px;
            border-radius: 17px 0 0 17px;
            background-color: rgba(38, 43, 49, 0.8);
            border: 13px solid white;
            @include small-device {
                border: none;
                background-color: rgba(30, 41, 44, 0.5);
                border-radius: 0;
                padding: 10px;
            }
            ul {
                list-style: none;
                width: fit-content;
                li {
                    padding: 5px 0;
                }
                i {
                    text-align: center;
                    line-height: 1;
                    min-width: 35px;
                }
            }
        }

        img {
            width: -webkit-fill-available;
            object-fit: contain;
        }
    }
    .services-h {
        margin-top: 100px;
        div.row {
            background-color: rgba(0, 0, 0, 0.314);
            background-size: cover;
            background-position: right;
            background-blend-mode: color;
        }
        .service-txt {
            background: rgba(1, 1, 1, 0.87);
            padding: 30px 50px;
            color: white;
            @include small-device {
                background: rgba(1, 1, 1, 0.5);
                padding: 10px 20px;
            }
        }
    }
}

#prices {
    .table-h {
        padding: 0;
        padding-top: 200px;
        padding-bottom: 100px;
        background-color: rgb(255, 255, 255);

        margin: auto;
        @include medium-device {
            width: 80%;
        }
        @include small-device {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .table-responsive {
            font-family: "Play";
            table {
                padding: 0 15px;
                caption {
                    text-align: center;
                    background-color: #212529;
                    color: white;
                    font-size: 1.4rem;
                    // font-weight: bold;
                }
                thead {
                    color: gray;
                    font-style: italic;
                }
                td {
                    height: 110%;
                }
                td:first-child,
                th:first-child {
                    padding-left: 25px;
                    @include small-device {
                        padding-left: 15px;
                    }
                }
                td:last-child,
                th:last-child {
                    text-align: right;
                    padding-right: 25px;
                    @include small-device {
                        padding-right: 15px;
                    }
                }
                tbody tr:hover {
                    opacity: 1;
                    background: #e2e2e2 !important;
                }
            }
        }
    }
}

footer {
    background-image: url(../img/kontakt2.jpg);
    background-size: cover !important;
    background-position: left center;
    background-color: rgba(255, 255, 255, 0.92);
    background-blend-mode: color;
    background-attachment: fixed;
    padding-top: 80px;
    @include small-device {
        padding-top: 50px;
    }
    h2 {
        @include small-device {
            margin-bottom: 60px;
        }
    }
    .con-items {
        font-family: "Play";
        h6 {
            margin-top: 20px;
            font-size: 1.2rem;
        }
        a,
        p,
        address {
            font-size: 0.9rem;
            display: block;
            margin: 0;
        }
        a:hover,
        a i:hover {
            color: $plava;
        }
        .facelink {
            display: flex;
            margin: 10px 0;
            i {
                margin-right: 10px;
                font-size: 40px;
            }
        }
    }

    #prava {
        text-align: center;
        font-size: 12px;
        margin-bottom: 0;
    }

    .dev-brend {
        background-color: white;
        padding: 10px 0;
        width: 100%;
        a {
            width: fit-content;
            margin: auto;
            display: block;
        }
        box-shadow: 0px 0px 21px -3px #00000057;
        img {
            width: 150px;
        }
    }

    #mapa {
        padding-top: 20px;
        z-index: 0;
        width: 100%;
        border-radius: 6px;
        @include small-device {
            width: 100%;
        }
        iframe {
            border-radius: 6px;
            box-sizing: border-box;
            height: 370px;
            width: 100%;
            margin: auto;
            border: none;
        }
    }
}
