@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RalewayDot";
  src: url(../fonts/RalewayDots-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Play";
  src: url(../fonts/Play-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Playb";
  src: url(../fonts/Play-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansb";
  src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 100px;
  font-size: 3rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.7rem;
    margin-bottom: 60px;
  }
}

h3 {
  margin-bottom: 30px;
}

hr {
  opacity: 1;
}

body {
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

.navbar {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: none;
}
@media (min-width: 992px) {
  .navbar {
    height: 6vh;
  }
}
.navbar .nav-holder {
  padding: 0 3px;
  height: 100%;
}
@media (max-width: 992px) {
  .navbar #navbar-servis {
    top: 7vh;
    position: absolute;
    top: 6vh;
    padding: 5px 20px;
    background-color: white;
    width: 50%;
    right: 0;
    text-align: center;
  }
}
.navbar .navbar-brand {
  margin: 0;
}
.navbar .navbar-brand img {
  height: 40px;
}
@media (min-width: 993px) {
  .navbar button {
    display: none !important;
  }
}
.navbar button span {
  height: 2px;
  width: 20px;
  margin: 5px 0;
  background-color: black;
  display: block;
}
.navbar #r-vreme {
  color: seagreen;
  font-size: 0.9rem;
  opacity: 0.8;
  font-weight: bold;
  border: 1px solid;
  padding: 1px 3px;
}
@media (max-width: 768px) {
  .navbar #telephone span {
    display: none !important;
  }
}

.navbar-nav a {
  color: black;
}
.navbar-nav a.nav-link {
  font-family: "Play";
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .navbar-nav a.nav-link {
    padding: 2px 0;
    margin: 2px 0;
  }
}
.navbar-nav a.nav-link:hover {
  color: rgba(0, 0, 0, 0.692);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5815);
}
.navbar-nav a.nav-link.active {
  border-bottom: 2px solid black;
}
@media (max-width: 768px) {
  .navbar-nav a.nav-link.active {
    border: 2px solid black;
  }
}
.navbar-nav .my-toggler {
  background-color: #ffffff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px 11px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  -webkit-text-decoration: none #d1d5db solid;
          text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.navbar-nav .my-toggler:hover {
  background-color: rgb(249, 250, 251);
}
.navbar-nav .my-toggler:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.navbar-nav .my-toggler:focus-visible {
  box-shadow: none;
}

.navbar-collapse {
  flex-grow: 0;
}

header {
  height: 80vh;
  position: relative;
}
header .holder {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
}
header .holder div.d-flex {
  background-color: rgba(255, 255, 255, 0.62);
  background-size: cover !important;
  background-position: center;
}
header .holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 40vh;
}
header .holder .l {
  background-image: url(../img/lap18.jpg);
}
header .holder .s {
  background-image: url(../img/desk5.jpg);
}
header .holder .d {
  background-image: url(../img/lap19.jpg);
}
header .holder .header-info {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
header .holder .header-info span {
  font-weight: bold;
  text-shadow: 0px 0px 22px rgba(159, 159, 159, 0.5098039216);
  font-family: "Playb";
  font-size: 5.2rem;
}
@media (max-width: 768px) {
  header .holder .header-info span {
    font-size: 2.2rem;
  }
}
header .holder .header-info h1 {
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 768px) {
  header .holder .header-info h1 {
    font-size: 1.4rem;
  }
}
header .holder .header-info .title-holder {
  border-radius: 16px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: white;
  padding: 70px 50px;
  margin: auto;
}
@media (max-width: 768px) {
  header .holder .header-info .title-holder {
    padding: 10px 10px;
  }
}

@media (max-width: 767px) {
  #about {
    padding: 20px 0;
  }
}
#about p {
  text-align: justify;
}
#about img {
  border-radius: 4px;
  width: 80%;
  margin: auto;
  height: auto;
}
@media (max-width: 767px) {
  #about img {
    position: absolute;
    top: 30%;
    width: 100%;
    display: none;
  }
}
#about .about-holder {
  position: relative;
  color: white;
  border-radius: 8px;
}
@media (max-width: 767px) {
  #about .about-holder {
    background-image: url(../img/part5.jpg);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
#about .about-holder .about-right {
  position: absolute;
  left: 0;
  top: 11%;
  border-radius: 17px 0 0 17px;
  background-color: rgba(0, 0, 0, 0.87);
  background-blend-mode: color;
  border: 13px solid white;
  padding: 35px;
}
@media (max-width: 767px) {
  #about .about-holder .about-right {
    position: relative;
    border-radius: 8px;
    background-position: center center;
    border: none;
    padding: 22px 10px;
  }
}
#about .about-holder .about-left {
  position: absolute;
  right: 0;
  bottom: 11%;
  border-radius: 0 17px 17px 0;
  background-color: rgba(0, 0, 0, 0.87);
  background-blend-mode: color;
  border: 13px solid white;
  padding: 35px;
}
@media (max-width: 767px) {
  #about .about-holder .about-left {
    border: none;
    position: relative;
    border-radius: 8px;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.45);
    border-top: none;
    padding: 22px 10px;
    margin-top: 150px;
  }
}
#about .img-fix {
  position: relative;
  z-index: -1;
  margin-left: -100px;
}

#main-serv {
  margin-top: 10vh;
  padding-bottom: 50px;
}
#main-serv h3 {
  margin-bottom: 15px;
  margin-top: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}
@media (max-width: 767px) {
  #main-serv h3 {
    padding-left: 10px;
  }
}
#main-serv p {
  padding: 0 30px;
  text-align: justify;
  margin-bottom: 0;
}
#main-serv .serv-card {
  height: 211px;
  text-align: center;
  border: 1px solid #bdeafa;
  padding: 15px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  background-size: cover !important;
  background-position: left center;
  background-color: rgba(255, 255, 255, 0.89);
  background-blend-mode: color;
}
#main-serv .serv-card h3 {
  margin: auto;
  font-family: "Play";
}
#main-serv .serv-card i {
  font-size: 2.3rem;
}
#main-serv .serv-card a {
  border: 1px solid #49add1;
  margin: auto;
  font-size: 1rem;
  background: #49add1;
  margin-bottom: 10px;
  padding: 3px 15px;
  color: white;
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
}
#main-serv .serv-card a:hover {
  background: white;
  color: black;
}
#main-serv .serv-card.desktop-card {
  background-image: url(../img/desk6.jpg);
}
#main-serv .serv-card.laptop-card {
  background-image: url(../img/lap8.jpg);
}
#main-serv .serv-card.os-card {
  background-image: url(../img/windows02.jpg);
}
#main-serv .serv-card.recover-card {
  background-image: url(../img/recover.jpg);
}
#main-serv .serv-card.remote-card {
  background-image: url(../img/rukovanje.jpg);
}
#main-serv .serv-card.sos-card {
  background-image: url(../img/intervencije.jpg);
}
#main-serv .serv-card.web-card {
  background-image: url(../img/codewomen.jpg);
}
#main-serv .serv-card.network-card {
  background-image: url(../img/network2.jpg);
}
#main-serv #partner {
  font-size: 2rem;
  margin: 100px 0;
  justify-content: center;
}
@media (max-width: 767px) {
  #main-serv #partner {
    font-size: 1rem;
    margin: 50px 0;
  }
}
#main-serv #partner a {
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
}
#main-serv #partner a:hover {
  color: red;
}
#main-serv #partner span {
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
}
#main-serv #partner img {
  margin: 0 10px;
}

#services {
  margin-top: 10vh;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  #services {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  #services .container {
    padding: 0;
  }
}
#services h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 60px;
  font-size: 3rem;
  text-transform: uppercase;
}
#services h1 span {
  display: none;
}
@media (max-width: 767px) {
  #services h1 {
    font-size: 1.7rem;
  }
}
#services h3 {
  margin-bottom: 15px;
  margin-top: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}
@media (max-width: 767px) {
  #services h3 {
    padding-left: 10px;
  }
}
#services p {
  padding: 0 30px;
  text-align: justify;
  margin-bottom: 0;
}
#services img {
  width: -webkit-fill-available;
  -o-object-fit: contain;
     object-fit: contain;
}
#services ul {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.3rem;
}
#services ul li {
  padding: 2px 0;
}
#services .laptop {
  background-image: url(../img/desk8.jpg);
  background-size: cover;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#services .recovery {
  background-image: url(../img/lap20.jpg);
  background-size: cover;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#services .remote {
  background-image: url(../img/desk9.jpg);
  background-size: cover;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
@media (max-width: 767px) {
  #services .laptop-row {
    background-image: url(../img/desk8.jpg);
    background-size: cover;
    background-position: right;
    background-color: rgba(255, 255, 255, 0.86);
    background-blend-mode: color;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}
@media (max-width: 767px) {
  #services .recowery-row {
    background-image: url(../img/lap20.jpg);
    background-size: cover;
    background-position: right;
    background-color: rgba(255, 255, 255, 0.86);
    background-blend-mode: color;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}
@media (max-width: 767px) {
  #services .remote-row {
    background-image: url(../img/desk6.jpg);
    background-size: cover;
    background-position: right;
    background-color: rgba(255, 255, 255, 0.86);
    background-blend-mode: color;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}

.table-h {
  padding: 0;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
@media (min-width: 768px) {
  .table-h {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .table-h {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.table-h .table-responsive {
  font-family: "Play";
}
.table-h .table-responsive table {
  padding: 0 15px;
}
.table-h .table-responsive table caption {
  text-align: center;
  background-color: #212529;
  color: white;
  font-size: 1.4rem;
}
.table-h .table-responsive table thead {
  color: gray;
  font-style: italic;
}
.table-h .table-responsive table td {
  height: 110%;
}
.table-h .table-responsive table td:first-child,
.table-h .table-responsive table th:first-child {
  padding-left: 25px;
}
@media (max-width: 767px) {
  .table-h .table-responsive table td:first-child,
  .table-h .table-responsive table th:first-child {
    padding-left: 15px;
  }
}
.table-h .table-responsive table td:last-child,
.table-h .table-responsive table th:last-child {
  text-align: right;
  padding-right: 25px;
}
@media (max-width: 767px) {
  .table-h .table-responsive table td:last-child,
  .table-h .table-responsive table th:last-child {
    padding-right: 15px;
  }
}
.table-h .table-responsive table tbody tr:hover {
  opacity: 1;
  background: #e2e2e2 !important;
}

#main-cen h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 60px;
  font-size: 3rem;
  text-transform: uppercase;
}
#main-cen h2 span {
  display: none;
}

#cenovnik {
  padding-top: 200px;
  background-image: url(../img/desk9.jpg);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.64);
  background-blend-mode: color;
}
#cenovnik h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 60px;
  font-size: 3rem;
  text-transform: uppercase;
}
#cenovnik h1 span {
  display: none;
}

footer {
  background-image: url(../img/kontakt3.jpg);
  background-size: cover !important;
  background-position: left center;
  background-color: rgba(255, 255, 255, 0.87);
  background-blend-mode: color;
  background-attachment: fixed;
  padding-top: 50px;
}
@media (max-width: 767px) {
  footer {
    padding-top: 5px;
  }
}
footer p {
  display: block;
  margin: auto;
}
footer img {
  color: white;
  font-size: 13px;
  display: block;
  margin: auto;
}
footer .facelink i {
  margin-right: 10px;
  font-size: 40px;
}
footer #prava {
  text-align: center;
  font-size: 12px;
}
footer a:hover,
footer a i:hover {
  color: #275ea3;
}

.info address {
  margin-bottom: 0 !important;
  font-size: 13px;
  margin: 10px 10px 0 0;
}
.info h6 {
  margin: 10px 10px 0 0;
  width: -moz-fit-content;
  width: fit-content;
}
.info #mapa {
  z-index: 0;
  width: 100%;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .info #mapa {
    width: 100%;
  }
}
.info #mapa iframe {
  border-radius: 6px;
  box-sizing: border-box;
  height: 370px;
  width: 100%;
  margin: auto;
  border: none;
}

@media (max-width: 767px) {
  .con-card {
    padding: 8px;
  }
}

.con-item {
  margin-bottom: 15px;
}
.con-item h6 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}
.con-item a,
.con-item p,
.con-item address {
  font-family: "Play";
  font-size: 0.9rem;
  display: block;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 767px) {
  .mail a {
    font-size: 13px;
  }
}

.dev-brend {
  background-color: white;
  padding: 10px 0;
  width: 100%;
  box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.3411764706);
}
.dev-brend a {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: block;
}
.dev-brend img {
  width: 180px;
}/*# sourceMappingURL=main.css.map */