@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Roboto&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

body,
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.container {
    /* margin: 0!important; */
    padding: 0 !important;
}

.row {
    padding: 0;
    margin: 0;
}

.navbar-nav {
    margin: 0 !important;
}

div.col-lg-5 {
    margin: auto;
}

.lead {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.navbar {
    margin: 0 !important;
    /* border: none!important; */
    border-bottom: 2px solid rgba(1, 13, 15, 0.6);
    background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
    background-size: cover;
    /* background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%); */
}


/*------------------------------------ NAVBAR--------------------------------------------------- */

li.show-mobile {
    display: none;
}

.navbar-right {
    margin-right: 2px;
}

nav button {
    margin-right: 30px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: unset!important;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: none !important;
}

.navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 1px;
    background-color: #292e3d !important;
}

.navbar-brand {
    padding: 2px;
    font-family: 'Orbitron', sans-serif !important;
}

.dropdown-menu div.divider {
    background: black;
    margin: 5px 0;
}

.dropdown-menu {
    top: auto;
    left: 344px;
    margin-top: -21px;
    border-radius: 0;
    background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
}

.dropdown-menu li a:hover {
    font-weight: 900;
}

a.navbar-brand img {
    position: relative;
    height: 56px;
}

#r-vreme {
    color: seagreen;
    top: 0;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    opacity: .5;
    z-index: 6666666;
    font-weight: bold;
}

.phone-nav a {
    color: #000;
}

.phone-nav {
    z-index: 3444;
    flex-direction: column;
    display: flex;
    font-size: 20px;
}

.phone-nav img {
    height: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto;
}

ul.nav li:hover {
    background: rgb(250, 254, 255);
}

nav ul li {
    padding: 5px;
    display: flex;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding-right: 5px !important;
    padding-left: 2px !important;
    margin: auto;
    color: inherit !important;
}

a[href="services.html"] {
    padding-right: 1px !important;
}

a.dropdown-toggle {
    display: block;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

li.dropdown {
    padding: 5px 0px;
}

.caret {
    margin-bottom: 2px;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}


/* -------------------------------------------------HEADER-------------------------------------------------------- */
.h-100 {
    height: 100%;
    display: flex;
}

.m-auto {
    margin: auto;
}

.m-holder {}

.intro-header h1 {
    color: white;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    width: fit-content;
    font-size: 3em;
    opacity: 0;
    /* text-shadow: 0 0 10px #FFFFFF; */
    /* text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18f7ff, 0 0 30px #18f0ff, 0 0 40px #18e4ff, 0 0 55px #18dcff, 0 0 75px #18f0ff; */
}

.intro-header {
    height: 80vh;
    margin-top: 62px;
}

.intro-header * {
    z-index: 1;
    position: relative;
}

.zaafter {
    height: 100%;
}

.zaafter:after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 65% 0, 45% 100%, 0% 100%);
    /* clip-path: polygon(15% 0, 65% 0, 50% 100%, 0% 100%); */
    /* clip-path: polygon(0 0, 45% 0, 100% 159%, 14% 128%); */

    background: rgba(0, 0, 0, 0.7);
}

.intro-header p {
    /* text-shadow: 0 0 6px #ffffff; */
    opacity: 0;
    padding-top: 20px;
    text-align: left;
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    font-size: 2.2rem;
}

.radnovreme {
    /* text-shadow: 0 0 6px #ffffff; */
    opacity: 0;
    text-align: left;
    color: white;
    font-weight: 500;
    width: fit-content;
    font-size: 1.8rem;
}


/* --------------------------------------------------MAIN------------------------------------------------------------------ */

.dropdown-menu,
img.dropdown-toggle:hover {
    cursor: pointer;
}

img.dropdown-toggle {
    display: none;
}

a.dropdown-item {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}

.delovi {
    /* desktop */
    list-style-image: url('../img/minus2.png');
    padding-left: 90px;
}

.img-responsive {
    box-shadow: 0 10px 11px -5px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    width: 90%;
    margin: auto;
}

ul.usluge-lista>li {
    margin: 4px;
    font-weight: 450;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.usluge-lista {
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.usluge-lista>li:hover {
    overflow: visible;
    font-weight: 750;
    list-style-type: none;
}

ul.usluge-lista>li>a,
h2>a {
    color: inherit;
    text-decoration: none;
}

.usluge-lista .dropdown-menu a {
    padding-left: 8px;
}

a.btn-default {
    padding: 8px 8px 8px 0;
    width: 135px;
}

.content-section-a {
    position: relative;
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    padding-top: 0px;
    margin-bottom: 3%;
}

.section-heading-spacer {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.text-scroll:hover {
    overflow-y: scroll;
}

.text-scroll {
    overflow: hidden;
}


/* -------------------------------------------------INDEX------------------------------------------------------------------- */

.index-head {
    background: url(../img/komp2.jpg) no-repeat right bottom;
    background-size: cover;
    background-attachment: fixed;
}


/* ---------------------------------------------DESKTOP----------------------------------------------------------------------- */

.desktop-head {
    background: url(../img/d03.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* ---------------------------------------------LAPTOP----------------------------------------------------------------------- */

.laptop-head {
    background: url(../img/lapbek3.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* ---------------------------------------------SERVICES----------------------------------------------------------------------- */

.services-head {
    background: url(../img/usluge6.jpg) no-repeat center center;
    background-size: cover;
}


/* ---------------------------------------------CENOVNIK----------------------------------------------------------------------- */

#cenovnik-box p {
    text-align: left;
    padding-left: 1%;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 0px;
    background-color: #eee;
}

.cenovnik-header h1 {
    margin-bottom: 0px;
    background-color: #eeeeee;
    font-size: 7em;
    color: #191717;
    font-size: 7em;
    font-family: "Libre Barcode 128 Text", sans-serif;
}

.cenovnik-header {
    padding-top: 63px;
    padding-bottom: 50px;
    text-align: center;
}

.cenovnik-header .col-12 {
    margin: auto;
    padding: 0 !important;
}

.table {
    margin-bottom: 0px;
}

#cenovnik-box {
    margin-top: 5px;
    margin: auto;
    box-shadow: 0px 4px 24px 2px #0000002e;
}

#cenovnik-box h1 {
    margin-top: 0;
}

table:last-child {
    border-radius: 0px 0px 6px 6px;
}

table:last-child tr:last-child td {
    background-color: #f2f8e7;
    border-radius: 0px 0px 6px 6px;
}

table {
    z-index: 1111;
    background: white;
}

caption {
    text-align: center;
    font-size: 2em;
    background: linear-gradient(60deg, rgba(248, 247, 236, 0.7) 15%, rgba(244, 245, 205, 0.7), rgba(249, 250, 233, 0.6) 85%);
    color: #191717;
}

thead {
    background: linear-gradient(60deg, rgba(255, 255, 255, 0.7) 15%, rgba(240, 240, 240, 0.7), rgba(211, 211, 211, 0.6) 85%);
}

th {
    font-style: italic;
    font-size: 19px;
    font-weight: 700;
    text-align: right;
}

th:first-child {
    text-align: left;
}

td {
    font-weight: 400;
    text-align: right;
}

td:first-child {
    text-align: left;
}


/* ---------------------------------------------CONTACT----------------------------------------------------------------------- */

#partner {
    background: linear-gradient(60deg, rgba(226, 236, 238, 0.7) 15%, rgba(193, 216, 229, 0.7), rgba(213, 239, 245, 0.6) 85%);
    ;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

div.tooltip {
    z-index: 5555555;
}

.carousel-inner>.item {
    background: transparent;
}

.carousel-inner>.item>img {
    height: 300px;
    margin: auto;
    max-width: unset;
}

.face {
    width: 18px;
    height: 18px;
}

footer img {
    width: 180px;
}

footer {
    border-top: 2px solid rgba(1, 13, 15, 0.6);
    padding: 30px 0;
    background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
    background-size: cover;
}

p.copyright {
    margin: 15px 0 0;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.banner {
    margin-top: 2px;
    padding: 70px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2,
#partner {
    font-family: "Julius Sans One", serif;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner .col-md-6 {
    margin: auto;
}

.content-contact .section-heading-spacer {
    width: 100% !important;
    margin-bottom: 20px;
}

.content-contact {
    border-top: 2px solid rgba(1, 13, 15, 0.6);
    background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
    background-size: cover;
}

.primarni {
    position: fixed;
    z-index: 2333333;
    bottom: 3%;
    left: 1%;
}

#prava {
    font-size: 10px;
}

h3.section-heading {
    font-size: 19px;
}

span a {
    color: inherit;
}

@media(max-width:1024px) and (min-width: 768px) {
    .m-holder {
        margin-left: 5%;
    }

    .zaafter:after {
        /* clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%); */
        clip-path: polygon(0 5%, 100% 27%, 100% 96%, 0 74%);
    }

    .intro-header {
        margin-top: 50px;
    }

    .intro-header h1 {
        font-size: 2.2rem;
    }

    .intro-header p {
        font-size: 1.8rem;
    }
    .intro-header .radnovreme {
        font-size: 1.6rem;
    }

    nav ul li a {
        padding: 10px 8px !important;
    }

    nav ul li {
        font-size: 14px;
    }

    .phone-nav {
        font-size: 17px;
    }

    .phone-nav img {
        height: 17px;
    }

    a.navbar-brand img {
        height: 46px;
    }
}

@media (min-width: 1024px) {
    .row {
        display: flex;
    }
}

@media (max-width: 1304px) and (min-width: 1024px) {
    .m-holder {
        margin-left: 10%;
    }

    .intro-header h1 {
        font-size: 2rem;
    }

    .intro-header p{
        font-size: 1.8rem;
    }
    .radnovreme {
        font-size: 1.6rem;
    }

    nav ul li {
        font-size: 16px;
    }

    .phone-nav {
        font-size: 17px;
    }

    .phone-nav img {
        height: 17px;
    }
}

@media(max-width:996px) and (min-width: 768px) {
    #dropusluge>span {
        display: none !important;
    }

    .primarni img {
        width: 35px;
        height: 35px;
        bottom: 5%;
        left: 0;
    }

    .row {
        width: 70%;
        margin: auto;
    }
}

.navbar-brand {
    margin: 0 !important;
}

@media(max-width:767px) {

    .phone-nav {
        font-size: 16px;
        margin-top: 3px;
    }

    ul.usluge-lista {
        font-size: 16px;
    }

    nav ul {
        padding-inline-start: 0 !important;
        flex-direction: column;
    }

    nav button {
        margin-right: 15px !important;
    }

    nav a.navbar-brand img {
        height: 46px;
    }

    .topnav {
        z-index: 334;
        font-size: 13px;
    }

    .intro-header {
        height: 100vh;
        margin-top: 0;
    }

    .intro-header p {
        font-size: 1.4em;
        margin-left: 0;
    }

    h2 {
        font-size: 1.4em;
    }

    .intro-header h1 {
        text-align: left;
        font-size: 1.6em;
        margin-left: 0;
    }

    .intro-header .radnovreme {
        font-size: 1.2em;
        margin-left: 0;
    }

    .zaafter:after {
        /* clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%); */
        clip-path: polygon(0 5%, 100% 27%, 100% 96%, 0 74%);
    }

    .lead {
        font-size: 14px;
    }

    #dropusluge-menu {
        display: none !important;
    }

    .primarni img {
        width: 30px;
        height: 30px;
        bottom: 2%;
        left: 1%;
    }

    .banner {
        padding: 10px;
    }

    iframe,
    .carousel-inner>.item>img {
        height: 200px;
        width: -webkit-fill-available;
    }

    .banner h2 {
        margin-bottom: 20px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 1.8em;
    }

    ul.usluge-lista>li {
        margin-left: -40px;
    }

    .radnovreme {
        font-size: 1.5rem;
    }

    .intro-header span {
        font-size: 2rem;
    }

    .slide-show {
        margin-left: 2.2%;
    }

    .radnja-front {
        height: inherit;
        padding-left: 1%;
        padding-right: 1%;
    }

    div.slide-show {
        margin-top: 0;
        margin-bottom: 0;
    }

    .btn-group-lg>.btn,
    .btn-lg {
        padding: 1px;
    }

    .network-name {
        font-size: 12px;
    }

    a.btn-default {
        width: 110px;
        text-align: justify;
    }

    footer {
        padding: 20px 0 !important;
    }

    .cenovnik-header h1 {
        font-size: 5em;
    }

    #cenovnik-box {
        width: 100%;
    }
}


/* ANIMATIONS*/

@-webkit-keyframes animaleftdelay {
    0% {
        -webkit-transform: rotate(0) translateX(-150px);
        transform: rotate(0) translateX(-150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaleftdelay {
    -webkit-animation: animaleftdelay 1.5s forwards 1.5s ease;
    animation: animaleftdelay 1.5s forwards 1.5s ease;
}

@keyframes animaleft {
    0% {
        -webkit-transform: rotate(0) translateX(-150px);
        transform: rotate(0) translateX(-150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaleft {
    -webkit-animation: animaleft 1.5s forwards 0s ease;
    animation: animaleft 1.5s forwards 0s ease;
}

@-webkit-keyframes animatop {
    0% {
        -webkit-transform: rotate(0) translateY(-150px);
        transform: rotate(0) translateY(-150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animatop {
    0% {
        -webkit-transform: rotate(0) translateY(-150px);
        transform: rotate(0) translateY(-150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animatop {
    -webkit-animation: animatop 1.5s forwards 0s ease;
    animation: animatop 1.5s forwards 0s ease;
}

@-webkit-keyframes animaright {
    0% {
        -webkit-transform: rotate(0) translateX(150px);
        transform: rotate(0) translateX(150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animaright {
    0% {
        -webkit-transform: rotate(0) translateX(150px);
        transform: rotate(0) translateX(150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaright {
    -webkit-animation: animaright 1.5s forwards 0s ease;
    animation: animaright 1.5s forwards 0s ease;
}

@keyframes animarightdelay {
    0% {
        -webkit-transform: rotate(0) translateX(150px);
        transform: rotate(0) translateX(150px);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animarightdelay {
    -webkit-animation: animarightdelay 1.5s forwards 1s ease;
    animation: animarightdelay 1.5s forwards 1s ease;
}

@-webkit-keyframes animaimg {
    0% {
        -webkit-transform: rotate(0) scale(0.3);
        transform: rotate(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animaimg {
    0% {
        -webkit-transform: rotate(0) scale(0.3);
        transform: rotate(0) scale(0.3);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

*.animaimg {
    -webkit-animation: animaimg 1.5s forwards 0s ease;
    animation: animaimg 1.5s forwards 0s ease;
}

#one .col-lg-5 {
    opacity: 0;
}

#contact .container,
#contact #partner {
    opacity: 0;
}

.banner .col-md-6 {
    opacity: 0;
}


/* #partner {
    opacity: 0;
} */


/*# sourceMappingURL=animation.css.map */