@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Roboto&display=swap');
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

body,
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.container {
    /* margin: 0!important; */
    padding: 0!important;
}

.row {
    padding: 0;
    margin: 0;
}

.navbar-nav {
    margin: 0!important;
}

div.col-lg-5 {
    margin: auto;
}

.lead {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.navbar {
    margin: 0!important;
    /* border: none!important; */
    border-bottom: 2px solid rgba(1, 13, 15, 0.6);
    background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
    background-size: cover;
    /* background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%); */
}


/*------------------------------------ NAVBAR--------------------------------------------------- */

li.show-mobile {
    display: none;
}

.navbar-right {
    margin-right: 2px;
}

nav button {
    margin-right: 30px!important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: none!important;
    /* border-radius: 4px; */
}

.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 3px;
    border-radius: 1px;
    background-color: #292e3d!important;
}

.navbar-brand {
    padding: 2px;
    font-family: 'Orbitron', sans-serif !important;
}

.topnav {
    z-index: 334;
    font-size: 17px;
}

nav ul li:hover {
    background-color: #f7fafa;
}

.dropdown-menu div.divider {
    background: black;
    margin: 5px 0;
}

.dropdown-menu {
    border-radius: 0;
    /*box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);*/
    background-color: #e1e5e8;
}

.dropdown-menu li a:hover {
    background-color: inherit;
}

a.navbar-brand img {
    position: relative;
    height: 56px;
}

.phone-nav a {
    color: #000;
    margin: auto;
}

.phone-nav {
    margin: 5px;
    height: 40px;
    display: inline-flex;
}

.phone-nav span {
    font-size: 18px;
    margin: auto;
}

.phone-nav img {
    height: min-content;
    margin: auto;
}

nav ul {
    display: flex;
    /* margin: 0; */
    /* margin-left: 100%; */
    list-style: none;
    margin: auto;
}

nav ul li {
    padding: 5px;
    display: flex;
}

nav ul li a {
    margin: auto;
    color: inherit!important;
}

a[href="services.html"] {
    padding-right: 1px!important;
}

a.dropdown-toggle {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

li.dropdown {
    padding: 5px 0px;
}

.caret {
    margin-bottom: 2px;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}


/* -------------------------------------------------HEADER-------------------------------------------------------- */

.intro-message {
    position: relative;
    margin-top: 20%;
}

.intro-message>h1 {
    margin-left: 15px;
    color: white;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    width: fit-content;
    text-shadow: /*0px -5px 4px rgba(2,2,2,1)*/
    0px 5px 4px rgba(2, 2, 2, 1), 6px 0px 4px rgba(2, 2, 2, 1), 7px 0px 4px rgba(2, 2, 2, 1), 5px 5px 4px rgba(2, 2, 2, 1), 0px -5px 4px rgba(2, 2, 2, 1), -5px 5px 4px rgba(2, 2, 2, 1), 5px -5px 4px rgba(2, 2, 2, 1), -5px -5px 4px rgba(2, 2, 2, 1);
    font-size: 4em;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.intro-header span {
    padding-top: 20px;
    text-align: left;
    margin-left: 3%;
    color: white;
    font-weight: 500;
    font-family: 'Helvetica Neue', sans-serif;
    width: fit-content;
    text-shadow: 0px -3px 4px rgba(2, 2, 2, 1), 3px 0px 2px rgba(2, 2, 2, 1), 3px 3px 2px rgba(2, 2, 2, 1), -3px 0px 2px rgba(2, 2, 2, 1), 2px 3px 2px rgba(2, 2, 2, 1), -2px 1px 2px rgba(2, 2, 2, 1), 3px 3px 2px rgba(2, 2, 2, 1), -3px 0px 2px rgba(2, 2, 2, 1), -3px 3px 2px rgba(2, 2, 2, 1), 3px -3px 2px rgba(2, 2, 2, 1), -3px -3px 2px rgba(2, 2, 2, 1);
    font-size: 4rem;
}

.radnovreme {
    margin-top: 8%;
    text-align: left;
    margin-left: 20%;
    color: white;
    /*box-shadow: -2px 16px 12px rgba(2,2,2,1);*/
    font-weight: 500;
    /*font-family: 'Orbitron', sans-serif;*/
    width: fit-content;
    text-shadow: 0px -3px 4px rgba(2, 2, 2, 1), 3px 0px 2px rgba(2, 2, 2, 1), 3px 3px 2px rgba(2, 2, 2, 1), -3px 0px 2px rgba(2, 2, 2, 1), 2px 3px 2px rgba(2, 2, 2, 1), -2px 1px 2px rgba(2, 2, 2, 1), 3px 3px 2px rgba(2, 2, 2, 1), -3px 0px 2px rgba(2, 2, 2, 1), -3px 3px 2px rgba(2, 2, 2, 1), 3px -3px 2px rgba(2, 2, 2, 1), -3px -3px 2px rgba(2, 2, 2, 1);
    font-size: 32px;
}


/* --------------------------------------------------MAIN------------------------------------------------------------------ */

.dropdown-menu,
img.dropdown-toggle:hover {
    cursor: pointer;
}

img.dropdown-toggle {
    display: none;
}

a.dropdown-item {
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}

.delovi {
    /* desktop */
    list-style-image: url('../img/minus2.png');
    padding-left: 90px;
}

.img-responsive {
    /* min-width: -webkit-fill-available; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    width: 90%;
    margin: auto;
}

ul.usluge-lista>li {
    margin: 4px;
    font-weight: 450;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.usluge-lista {
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.usluge-lista>li:hover {
    overflow: visible;
    font-weight: 750;
    list-style-type: none;
}

ul.usluge-lista>li>a,
h2>a {
    color: inherit;
    text-decoration: none;
}

.usluge-lista .dropdown-menu a {
    /* margin-left: 8px; */
    padding-left: 8px;
}

a.btn-default {
    padding: 8px 8px 8px 0;
    width: 135px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
    /* display: flex; */
}

.content-section-b {
    /* display: flex; */
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    padding-top: 0px;
    margin-bottom: 3%;
}

.section-heading-spacer {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.text-scroll:hover {
    overflow-y: scroll;
}

.text-scroll {
    overflow: hidden;
}


/* -------------------------------------------------INDEX------------------------------------------------------------------- */

.index-head {
    background: url(../img/glavna3n.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* ---------------------------------------------DESKTOP----------------------------------------------------------------------- */

.desktop-head {
    background: url(../img/d03.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* ---------------------------------------------LAPTOP----------------------------------------------------------------------- */

.laptop-head {
    background: url(../img/lapbek3.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


/* ---------------------------------------------SERVICES----------------------------------------------------------------------- */

.services-head {
    background: url(../img/usluge6.jpg) no-repeat center center;
    background-size: cover;
}


/* ---------------------------------------------CENOVNIK----------------------------------------------------------------------- */

#cenovnik-box p {
    text-align: left;
    padding-left: 1%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 0px;
    background-color: #eee;
}

.cenovnik-header h1 {
    margin-bottom: 0px;
    background-color: #eeeeee;
    font-size: 7em;
    color: #191717;
    font-size: 7em;
    font-family: "Libre Barcode 128 Text", sans-serif;
}

.cenovnik-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    /*background:#eee;*/
    /*filter:grayscale(1) sepia(100%) hue-rotate(55deg) saturate(19) contrast(2) brightness(1);*/
    background: url(../img/baner4.jpg) no-repeat center center;
    background-size: contain;
}

.cenovnik-header .col-12 {
    padding: 0!important;
}

.table {
    margin-bottom: 0px;
}

#cenovnik-box {
    /* border-radius: 6px 6px 6px 6px; */
    width: 80%;
    margin-top: 5px;
    margin: auto;
    border: 8px solid #191717;
    /* box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4); */
}

#cenovnik-box h1 {
    margin-top: 0;
    border-radius: 6px 6px 0px 0px;
}

table:last-child {
    border-radius: 0px 0px 6px 6px;
}

table:last-child tr:last-child td {
    background-color: #d7d8d5;
    border-radius: 0px 0px 6px 6px;
}

table {
    /*box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);*/
    z-index: 1111;
    background-color: #eee;
}

caption {
    /*box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);*/
    text-align: center;
    font-size: 2em;
    background-color: #eee;
    color: #191717;
}

th {
    font-style: italic;
    font-size: 19px;
    font-weight: 700;
    background-color: #d7d8d5;
    text-align: right;
}

th:first-child {
    text-align: left;
}

td {
    font-weight: 400;
    text-align: right;
}

td:first-child {
    text-align: left;
}


/* ---------------------------------------------CONTACT----------------------------------------------------------------------- */

#partner {
    background: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
    margin-bottom: 10px;
    font-size: 1.5em;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

div.tooltip {
    z-index: 5555555;
}

.carousel-inner>.item {
    background: transparent;
}

.carousel-inner>.item>img {
    height: 300px;
    margin: auto;
    max-width: unset;
}

.face {
    width: 18px;
    height: 18px;
}

footer img {
    width: 180px;
}

footer {
    padding: 30px 0;
    background-image: linear-gradient(60deg, rgba(236, 246, 248, 0.7) 15%, rgba(205, 230, 245, 0.7), rgba(233, 247, 250, 0.6) 85%);
    background-size: cover;
}

p.copyright {
    margin: 15px 0 0;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.banner {
    margin-top: 2px;
    padding: 70px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2,
#partner {
    font-family: "Julius Sans One", serif;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner .col-md-6 {
    margin: auto;
}

.content-contact .section-heading-spacer {
    width: 100%!important;
    margin-bottom: 20px;
}

.content-contact {
    background: #f8f8f8!important;
}

.primarni {
    position: fixed;
    z-index: 2333333;
    bottom: 3%;
    right: 1%;
}

h3.section-heading {
    font-size: 19px;
}

span a {
    color: inherit;
}

@media(max-width:1024px) and (min-width: 768px) {
    .intro-header h1,
    .intro-header span {
        font-size: 3rem;
    }
    nav ul li a {
        padding: 4px 8px!important;
    }
    nav ul li {
        margin-top: 10px;
        padding: 1px;
    }
}

@media (min-width: 1024px) {
    .row {
        display: flex;
    }
}

@media(max-width:996px) and (min-width: 768px) {
    #dropusluge>span {
        display: none !important;
    }
    .primarni img {
        width: 35px;
        height: 35px;
        bottom: 5%;
        left: 0;
    }
    .row {
        width: 70%;
        margin: auto;
    }
}

@media(max-width:767px) {
    ul.usluge-lista {
        font-size: 16px;
    }
    nav ul {
        padding-inline-start: 0 !important;
        flex-direction: column;
    }
    nav a.navbar-brand img {
        height: 46px;
    }
    .topnav {
        z-index: 334;
        font-size: 13px;
    }
    .intro-header {
        padding-bottom: 0px;
    }
    h2 {
        font-size: 1.6em;
    }
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        text-align: left;
        font-size: 1.9em;
    }
    .lead {
        font-size: 14px;
    }
    div#partner {
        font-size: 1.6rem;
    }
    #dropusluge-menu {
        display: none !important;
    }
    .primarni img {
        width: 30px;
        height: 30px;
        bottom: 2%;
        left: 1%;
    }
    .banner {
        padding: 10px;
        /* margin-top: 56%; */
    }
    iframe,
    .carousel-inner>.item>img {
        height: 200px;
        width: -webkit-fill-available;
    }
    .banner h2 {
        margin-bottom: 20px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 1.8em;
    }
    ul.usluge-lista>li {
        margin-left: -40px;
    }
    .radnovreme {
        font-size: 1.5rem;
    }
    .intro-header span {
        font-size: 2rem;
    }
    .col-lg-7 {
        padding-right: 1%;
        padding-left: 3.2%;
    }
    .slide-show {
        margin-left: 2.2%;
    }
    .radnja-front {
        height: inherit;
        padding-left: 1%;
        padding-right: 1%;
    }
    div.slide-show {
        margin-top: 0;
        margin-bottom: 0;
    }
    .btn-group-lg>.btn,
    .btn-lg {
        padding: 1px;
    }
    .network-name {
        font-size: 12px;
    }
    a.btn-default {
        width: 110px;
        text-align: justify;
    }
    footer {
        padding: 20px 0 !important;
    }
    .cenovnik-header h1 {
        font-size: 5em;
    }
    #cenovnik-box {
        width: 100%;
    }
}